* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  background-color: #0B0B0D;
}

span {
  line-height: 1.5;
  font-weight: 400;
  color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100svw;
  min-height: 100svh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
}


